.filter {
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.label {
  display: inline-block;
}
